.container-formlogin {  
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0.1px 3px 8px;
  margin: 7.5vmax 5.5vmin;
  width: 85vmin;
  height: 85vmax;
  align-items: center;
  display: flex;
  flex-direction: column;  
}

.container-formlogin img {
  width: 70vmin;
}

.container-formlogin p {    
  text-align: center;  
  padding-top: 5vmax;
  font-size: 30px;
}

.formLogin {
  font-size: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 60vmin;
}
